*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#palabra{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
button{
    padding: .7rem;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.512);
}
p{
    align-self: flex-end;
}